<div class="chatbox">
    <h1 id="welcomeTitle" class="display-6 m-5 text-white">Welcome {{loggedUser ? loggedUser.name : ''}}!</h1>
    <div class="chat-title p-3 text-white col-lg-11 col-md-11 col-sm-11 chat-title-bar">
        <div class="row">
            <div class="col-md-6">
                <img class="small-img" src="assets/logo-chatme-horizontal-no-bg.png">
            </div>
              <div class="col-md-6" style="display:flex; justify-content: right ;">
              <button (click)="logout()" type="button" class="btn btn-danger float-right"><i class="fas fa-power-off"></i></button>
            </div>
        </div>
    </div>
    <div class="chat-body col-lg-11 col-md-11 col-sm-11 p-0">
        <div id="chat-messages">
            <ng-container *ngFor="let message of messages">
                <app-message-bubble
                    [message]="message.body"
                    [name]="message.from"
                    [idUser]="message.id"
                >
                </app-message-bubble>
            </ng-container>
        </div>
    </div>
    <div class="chatbox-footer col-lg-11 col-md-11 col-sm-11 p-0">
        <form (ngSubmit)="sendMessage()">
            <div class="foot">
                <input
                type="text"
                [(ngModel)]="text"
                class="form-control footer-input-text"
                name="Mensaje"
                placeholder="Send a message here..."
                autofocus
                autocomplete="false"
                >
                <button type="submit"><i class="fas fa-paper-plane"></i></button>
            </div>
        </form>
    </div>
</div>
