#chat-messages {
    height: 300px;
    border: 1px solid gray;
    border-radius: 5px;
    overflow-y: scroll;
    background-color: whitesmoke;
}

.chatbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    border-radius: 20px;
    height: 70vh;
}

/* Chat Footer */
.chatbox-footer {
    padding: 5px; 
    background-color: whitesmoke; 
    border: 1px solid #333;
}

.chatbox-footer button {
    border: 0;
    background: whitesmoke;
}

button:hover i {
    color: #79c7c5;
}

/* Chat title */
@media (max-width: 600px) {
    .chat-title {
        width: 95%;
    }

    .chat-body {
        width: 95%;
    }

    .chat-footer {
        width: 95%;
    }
}
